@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
}

/* Header & Navbar Styling */

.header {
	border: 1px solid black;
	width: 100%;
	height: 750px;
	background-image: url("./images/black.jpg");
	background-position: center;
	background-size: cover;
	color: rgba(255, 255, 255, 1);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.waviy span {
	color: #FFBF00;
	display: inline-block;
	animation: flip 2s infinite;
	animation-delay: calc(.2s * var(--i))
  }

  @keyframes flip {
	0%,80% {
	  transform: rotateY(360deg) 
	}
  }

.nav-menu {
	width: 95%;
	height: 50px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 1%;
	margin-left: 50px;
}


.nav-menu .logo {
	font-size: 45px;
	font-weight: 600;
	padding: 5px;
}

.nav-menu .logo a {
	text-decoration: none;
	color: white;
}

.menu ul {
	list-style: none;
	display: flex;
	height: 100%;
}

.menu ul li a {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	padding: 1em 1.5em;
	line-height: 1px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.menu ul li a:hover {
	border-radius: 5px;
	color: #FFBF00;
}

/*Banner Styling*/

.banner {
	font-family: 'Didact Gothic', sans-serif;
	text-align: center;
	margin: 13% auto;
}

.banner h1 {
	font-size: 60px;
	font-weight: bold;
	text-shadow: 5px 5px 10px #bbb;
}

.banner p {
	padding-top: 20px;
	padding-bottom: 100px;
	font-size: 30px;
	font-weight: 200;
	color: #fff;
	word-spacing: 1px;
}

.banner a {
	text-decoration: none;
	border: 1px solid white;
	border-radius: 10px;
	padding: 15px;
	font-size: 20px;
	background-color: rgba(10, 102, 194, 0.8);
	color: #fff;
}

.banner .github {
	text-decoration: none;
	border: 1px solid white;
	border-radius: 10px;
	padding: 15px;
	font-size: 20px;
	font-weight: 700;
	background-color: #fff;
	color: #080808;
}

.banner a:hover {
	background-color: rgba(10, 102, 194, 1);
}

.banner .github:hover {
	background-color: #080808;
	color: #fff;
}

.header h3{
	text-align: center;
	color: #FFBF00;
}

/*	About Page Styling   */

.section {
    position: relative;
    overflow: hidden;
}

.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)), url('./images/mean-development.jpg');;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    z-index: -1;
}

.container1 {
    width: 100%;
    text-align: center;
    padding: 15rem 3rem 2rem 3rem;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    line-height: 1.3;
    position: relative; /* Ensure content stays above the pseudo-element */
    z-index: 1; /* Keep the content above the pseudo-element */
}

.my-image img{
	display: flex;
	position: absolute;
	border-radius: 50%;
	width: 150px;
	margin-top: 2rem;
	margin-left: 45%;
}
.section-head {
	font-size: 2.5rem;
	color: #fff;
}

.section-head h3 {
	font-size: 2rem;
}

.lead {
	font-size: 1rem;
}

:root {
	--primary-color: #b90415;
	--primary-color-hover: #d3071b;
	--light-color: #f4f4f4;
}

.btn {
	padding: 1rem;
	color: #fff;
	display: inline-block;
	border-radius: 5px;
}

.btn-primary {
	background-color: var(--primary-color);
}

.btn-primary:hover {
	background-color: var(--primary-color-hover);
}

.text-light {
	margin: 15px 0px 5px 0px;
	color: var(--light-color);
}

a {
	text-decoration: none;
}

/* Skill Styling  */

.skill {
	width: 100%;
	background-color: #212B40;
	padding: 3rem;
	text-align: center;
}

.skills-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.column {
	flex: 1;
	max-width: 30%;
}

.container2 {
	width: 90%;
	margin: 10px 0px;
	border-radius: 10px;
	background-color: #ddd;
}

.skills {
	text-align: right;
	color: #fff;
	border-radius: 10px;
	font-size: 0.7rem;
}

.skill p {
	color: #ddd;
	font-size: 1.2rem;
	font-weight: 500;
	
}

.html{
	width: 85%;
	background-color: #0A0140;
}

.bootstrap{
	width: 90%;
	background-color: #90A641;
}

.JavaScript {
	width: 70%;
	background-color: #FFBF00;
}

.Angular {
	width: 80%;
	background-color: #d3071b;
}
.Node{
	width: 70%;
	background-color: #FFBF00;
}

/* Project Styling	*/
.container {
	position: relative;
	width: 100%;
	min-height: 500px;
	overflow: hidden;
}

.container::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)), url('./images/mean-development.jpg');;
	background-size: cover;
	background-repeat: no-repeat;
	filter: brightness(50%);
	z-index: -1;
}

.text {
	color: #fff;
	font-size: 1.2rem;
	padding: 40px 10px 20px 10px;
	text-align: center;
}

.cards-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-card {
	margin: auto;
	width: 20%;
	height: 40vh;
	border-radius: 10px;
	background-color: #212B40;
	overflow: auto;
}

.project-card img{
	width: 100%;
	height: 50%;
	border-radius: 10px;
}

.project-text h3{
	color: #FFBF00;
	text-align: center;
	font-size: 0.8rem;
	text-wrap: nowrap;
}

.project-text p{
	color: #fff;
	padding: 5px;
	text-align: left;
	font-size: 0.8rem;
}

.project-text h5{
	color: #fff;
	padding-left: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 0.8rem;
}

.project-text h5 a{
	color: #90A641;
	padding-left: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 0.8rem;
}



/* Starting Contact */
.container4 {
	background-color: #212B40;
	color: white;
	text-align: center;
}

.social-buttons {
	text-align: center;
}

.social-buttons .social-button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 3.125rem;
	height: 3.125rem;
	border: 0.125rem solid transparent;
	padding: 0;
	text-decoration: none;
	text-align: center;
	color: #fefefe;
	font-size: 1.5625rem;
	font-weight: normal;
	line-height: 2em;
	border-radius: 1.6875rem;
	transition: all 0.5rem ease;
	margin-right: 0.25rem;
	margin-bottom: 0.25rem;
}

.social-button:hover,
.social-button:focus {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.contact .fa:before {
	display: inline-block;
	opacity: 0.7;
}

.container4 h3 {
	margin: 2px 0 10px 0;

}

.contact li {
	display: inline-block;
	list-style-type: none;
	margin: 0 1em;
	text-align: center;
}

.contact p {
	text-align: center;
}

.contact {
	display: inline-block;
	margin: 0 auto;
	padding-left: 0;
	text-align: center
}
.contact a{
	text-decoration: none;
	color: #fff;
	text-align: center;
}